body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.square {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 196, 0);
    position: absolute;
    top: 0;
    animation: slide 4s infinite;
}

@keyframes slide {
    0% {
        top: 0;
        background-color: rgb(255, 196, 0);
    }
    50% {
        top: calc(100vh - 100px);
        background-color: rgb(78, 134, 73);
    }
    100% {
        top: 0;
        background-color: rgb(255, 196, 0);
    }
}
